.content-dialog {
    padding-top: 12px;
  }
  
  .content-dialog-scroll {
    max-height: 70vh;
    overflow: auto;
    margin-right: -12px;
    margin-bottom: -12px !important;
    padding-top: 12px;
  }

  .disabled {
    opacity: .2;
    pointer-events: none;
    touch-action: none;
  }