<ng-container *transloco="let t">
<h1 mat-dialog-title class="accent dialog-title bg-primary text-on-primary text-secondary"
    style="margin-bottom: 0px !important;">{{t('select_address')}}</h1>
<div mat-dialog-content class="dialog-content">
    <!-- <div class="map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div> -->
    <div class="map-container">
        <div class="map-frame">
            <div id="map" class="map-item"></div>
        </div>
    </div>
    <form class="mt-8" [formGroup]="addressForm" #addressNgForm="ngForm">
        <mat-form-field class="w-full">
            <mat-label>{{t('address_to_display')}}</mat-label>
            <input id="name" matInput [formControlName]="'address'">
            <mat-error *ngIf="addressForm.get('address').hasError('required')">
                {{t('address_required')}}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="dialog-footer" align="end">
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="default" (click)="current()">{{t('current')}}</button>
    <button mat-raised-button color="default" (click)="cancel()">{{t('cancel')}}</button>
    <button mat-raised-button color="primary" (click)="submit()">{{t('submit')}}</button>
</div>
</ng-container>